.text-field{
    -fx-border-color: linear-gradient(to bottom, #6d627e, #7b708c, #988ea8, #a79db7);
    -fx-background-color: linear-gradient(to bottom, #6d627e, #7b708c, #988ea8, #a79db7);
}
.text-field:hover{
    -fx-cursor: n-resize;
}
.text-field:pressed{
    -fx-cursor: n-resize;
}