.button{
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-width: 1;
    -fx-border-color: #222222;
    -fx-background-color: #1A1A1A;
    -fx-text-fill: #d3d3d3;
}
.button:hover{
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: linear-gradient(to bottom, #c91e5a, #db384b, #e7533b, #ec7029, #eb8c12);
    -fx-background-color: #252526;
    -fx-cursor: HAND;
}
.button:pressed{
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: #222222;
    -fx-cursor: HAND;
}
