/* ComboBox */
.combo-box{
    -fx-background-radius: 0;
    -fx-border-insets: 0 0 -1 0;
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-background-color: #1A1A1A;
    -fx-min-height: 0.5em;
    -fx-font-size: 14.2;
    -fx-text-fill: #FFFFFF;
}

.combo-box:hover{
    -fx-border-color: linear-gradient(to right top, #093270, #046194, #048d9a, #00bf72, #a8eb12);
    -fx-background-color: #1A1A1A;
    -fx-cursor: HAND;
}

.combo-box-base > .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0 6;
}
.combo-box-base > .arrow-button > .arrow {
    -fx-background-color: orange;
    -fx-background-insets: 0;
    -fx-padding: 2 4;
    padding: 2 4;
    -fx-shape: "M 0 0 H 7 L 3.5 4 z";
}


.combo-box-popup .list-view {
    -fx-border-color: linear-gradient(to right top, #093270, #046194, #048d9a, #00bf72, #a8eb12);
    -fx-border-width: 1;
    -fx-background-color: #1A1A1A;
    -fx-min-width: 200px;
}

/* Style the ComboBox items */
.combo-box-popup .list-view .list-cell {
    -fx-padding: 2.5 0 0 2.5;
    -fx-background-color: #1A1A1A;
    -fx-text-fill: #cecbc9;

}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #af7304;
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: orange;
    -fx-text-fill: black;
}
.list-view .scroll-bar{
    -fx-border-color: transparent;
    -fx-pref-width: 1.2em;
    -fx-background-color: transparent;
    -fx-background-insets: 0 -1 0 0;
}
.list-view .scroll-bar .thumb{
    -fx-border-color:  linear-gradient(to right, #0059ff, #3d4efd, #5a40fa, #722df5, #8600ee);
    -fx-background-color: #262424;
    -fx-background-insets: 0 0 0 0;
}
.list-view .scroll-bar .thumb:hover{
    -fx-background-insets: 0 0 0 0;
    -fx-background-color:  linear-gradient(to right, #0059ff, #3d4efd, #5a40fa, #722df5, #8600ee);
}

.list-view .increment-button ,.list-view .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
}