.text-field {
    -fx-background-radius: 0;
    -fx-border-width: 1;
    border-width: 1;
    -fx-border-color: #222222;
    border-color: #222222;
    -fx-background-color: #1A1A1A;
    background-color: #1A1A1A;
    -fx-text-fill: #f8f8f8;
    -fx-highlight-fill: #4e4e4e;
    -fx-min-height: 1em;
    -fx-pref-height: 2.5em;
}
.text-field:hover{
    -fx-border-color: linear-gradient(to right, #0059ff, #3d4efd, #5a40fa, #722df5, #8600ee);
    -fx-background-color: #3E3E40;
}
.text-field:focused{
    -fx-border-color: linear-gradient(to right, #0059ff, #3d4efd, #5a40fa, #722df5, #8600ee);
    border-color: #4e4e4e;
    -fx-background-color: #1A1A1A;
    background-color: #1A1A1A;
}

/* ListView */
.list-view{
    -fx-background-radius: 0;
    -fx-background-color: #1A1A1A;
    -fx-border-width: 1;
    -fx-padding: 1;
}
.list-view .scroll-bar{
    -fx-border-color: transparent;
    -fx-pref-width: 1.8em;
    -fx-background-color: transparent;
    -fx-background-insets: 0 -1 0 0;
}
.list-view .scroll-bar .thumb{
    -fx-background-color: linear-gradient(to right top, #d3b818, #ec911b, #f8653b, #f2385e, #d71482);
    -fx-background-insets: 0 3 0 2;
}

.list-view .increment-button ,.list-view .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
}

.virtual-flow > .corner {
    -fx-background-color: transparent ;
}

.list-view .scroll-bar:horizontal {
    -fx-padding: -10;
    -fx-opacity: 0;
}

.list-view:hover{
    -fx-border-color: linear-gradient(to right, #0059ff, #3d4efd, #5a40fa, #722df5, #8600ee);
    -fx-padding: 0;
    -fx-background-insets: 1 1 0 1;
}
.list-view:focused{
    -fx-background-color: #1A1A1A;
    -fx-border-color: linear-gradient(to right, #0059ff, #3d4efd, #5a40fa, #722df5, #8600ee);;
    -fx-padding: 0 0 1 0;
    -fx-background-insets: 1;
}

/* ListCell */
.list-cell{
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-text-fill: #f8f8f8;
    -fx-font-size: 14;
    -fx-background-color: #1A1A1A;
    background-color: #1A1A1A;
    -fx-min-height: 0.5em;
    -fx-pref-height: 1em;
    -fx-padding: 0 0 0 3;
}

.list-cell:hover{
    -fx-background-color: linear-gradient(to right top, #2b185b, #551c6d, #7a1a75, #ac1781, #d71482);
    -fx-cursor: HAND;
    cursor: HAND;
}
.list-cell:pressed{
    -fx-background-color: linear-gradient(to right top, #2b185b, #551c6d, #801b7a, #ac1781, #d71482);
}
.list-cell:selected{
    -fx-background-color: linear-gradient(to right top, #2b185b, #551c6d, #801b7a, #ac1781, #d71482);
}

/* TextArea */
.text-area{
    -fx-background-radius: 0;
    -fx-border-width: 1;
    -fx-font-size: 14;
    -fx-border-color:  #222222;
    -fx-text-fill: #f8f8f8;
    -fx-background-color: #1A1A1A;
    background-color: #1A1A1A;
}

.text-area:hover{
    -fx-border-color: linear-gradient(to right top, #2b185b, #551c6d, #7a1a75, #ac1781, #d71482);
}
.text-area .content{
    -fx-background-radius: 0;
    -fx-border-width: 0;
    border-width: 0;
    -fx-background-color: #1A1A1A;
    background-color: #1A1A1A;
}
.text-area .scroll-bar{
    -fx-border-color: transparent;
    -fx-pref-width: 2em;
    -fx-background-color: transparent;
    -fx-background-insets: 0 -0.5 0.5 0;
}
.text-area .scroll-bar .thumb{
    -fx-background-insets: 0 2 0 2;
}


.button{
    -fx-background-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: #222222;
    -fx-background-color: #1A1A1A;
    -fx-text-fill: #f8f8f8;
}

.button:focused{
    -fx-background-color: #1A1A1A;
}
.button:hover{
    -fx-border-color: linear-gradient(to right, #0059ff, #3d4efd, #5a40fa, #722df5, #8600ee);
    -fx-background-color: #343436;
    -fx-cursor: HAND;
}
.button:pressed{
    -fx-border-color: #222222;
    -fx-cursor: HAND;
}
